h3{
    color: rgb(138, 136, 136);
    font-family: Poppins;
    font-size: 40px;
    margin-bottom: 0;
}
p{
    font-family: Poppins;
    margin: 0;
}
body{
    margin: 0;
    top: 0;
}
.header{
    width: 100%;
    height: 80px;
    background-color: rgb(4, 4, 82);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    
    
}
.header-content-left-part{
    margin: 0 0 0 20px;
}
.name{
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.header-content-right-part{
    color: white;
    display: flex;
    margin: 0 40px 0 0;
    justify-content: space-between;
}

.header-content{
    cursor: pointer;
    transition: font-weight 0.2s, text-decoration 0.2s;
}

.header-content:hover{
    font-weight: bold;
    text-decoration: underline;
}

.portfolio-body{
    width: 100%;
    padding-left: 20px;
    margin-top: 60px;
}
.upper-layer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-division{
    flex: 1;
}
.image{
    height: 400px;
}
.buttons{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;

}
button{
    width: 50%;
    height: 60px;
    background-color: rgb(4, 4, 82);
    color: white;
    border-style: solid;
    border-radius: 20px;
    font-family: Poppins;
    font-size: large;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
button:hover{
    background-color: white;
    color:  rgb(4, 4, 82);
    border-color:  rgb(4, 4, 82);
}
.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 40px;
    
}
.about-info{
    line-height: 40px;
}
.objective{
    margin-top: 10px;
    font-size: large;
    color: rgb(43, 42, 42);

}
.sample-pic{
    margin-left: 50px;
}
.frontend-pic{
    width: 70%;
    border-radius: 20px;
}

.heading{
    color:  rgb(4, 4, 82);
}

@media (max-width: 768px ){
    .header{
        width: 100%;
        height: 60px;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        
    }
    .header-content-left-part{
        margin: 0 0 0 10px;
    }
    .name{
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
    
    .header-content-right-part{
        position: absolute;
        color: black;
        z-index: -100;
        visibility: hidden;
    }
    .portfolio-body{
        width: 100%;
        margin-top: 80px;
        padding: 0;
    }

    .image{
        width: 100%;
        height: 220px;

    }
    button{
        height: 50px;
        font-size: small;
        cursor: pointer;
        width: fit-content;
        padding: 5px;
        transition: all 0.2s ease-in-out;
    }   
    
    .objective{
        font-size: 14px;
        line-height: 30px;
        text-align: justify;
    }
    .buttons{
        margin-left: 20px;
    }
    .about{
        margin: 7px;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .heading{
        font-size: 30px;
    }
    .sample-pic{
        margin-top: 30px;
    }
    
}